# Setup

## Import dependencies

In [1]:
%pip install -U dspy datasets tabulate duckdb pandas numpy ipywidgets "sqlglot[rs]" wandb --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
import dspy
from datasets import load_dataset
import tabulate
import pandas as pd
import os
from dotenv import load_dotenv

In [3]:
load_dotenv(".env.local")
openai_api_key = os.getenv("OPENAI_API_KEY")
if not openai_api_key:
    raise ValueError("OPENAI_API_KEY not found in environment variables")

wandb_api_key = os.getenv("WANDB_API_KEY")
if not wandb_api_key:
    raise ValueError("WANDB_API_KEY not found in environment variables")

lm = dspy.LM("openai/gpt-3.5-turbo-0125", api_key=openai_api_key, temperature=1, max_tokens=4000)
reflection_lm = dspy.LM("openai/gpt-5-mini", api_key=openai_api_key, temperature=1, max_tokens=16000)
dspy.configure(lm=lm)

## Load data

In [4]:
ds = load_dataset("gretelai/synthetic_text_to_sql")

# Set up DSPy

## Set up Signature and Modules

In [5]:
class ProblemDef(dspy.Signature):
    """You are a database expert. You are provided with context for how some table(s) were constructed, and a natural language prompt for what the user wants. Your job is to write a SQL query to provide them with the required data."""
    
    sql_context: str = dspy.InputField(description="SQL queries for creating the table(s) and loading some data")
    sql_prompt: str = dspy.InputField(description="User's natural language prompt")
    sql: str = dspy.OutputField(description="SQL query that delivers on the user's request. Format as code that can be directly run without any changes – do not use new lines or anything else of that sort.")

program = dspy.ChainOfThought(ProblemDef)

In [6]:
# !pip install duckdb pandas numpy sqlglot --quiet
import duckdb, pandas as pd, numpy as np, re
import sqlglot
from sqlglot import parse_one

_ORDER_BY = re.compile(r"\border\s+by\b", re.IGNORECASE)

def _split_sql_statements(script: str):
    out, buf, q = [], [], None
    i, n = 0, len(script)
    while i < n:
        ch = script[i]
        if q:
            buf.append(ch)
            if ch == q:
                if i + 1 < n and script[i+1] == q:
                    buf.append(script[i+1]); i += 1
                else:
                    q = None
        else:
            if ch in ("'", '"', "`"):
                q = ch; buf.append(ch)
            elif ch == ';':
                s = "".join(buf).strip()
                if s: out.append(s)
                buf = []
            else:
                buf.append(ch)
        i += 1
    tail = "".join(buf).strip()
    if tail: out.append(tail)
    return out

import re
from sqlglot import parse_one

_SQLITE_DATE_RE = re.compile(
    r"""\bdate\s*\(\s*'now'\s*(?:,\s*'([+-])\s*(\d+)\s*(year|month|day)s?'\s*)?\)""",
    re.IGNORECASE,
)
_SQLITE_DATETIME_RE = re.compile(
    r"""\bdatetime\s*\(\s*'now'\s*(?:,\s*'([+-])\s*(\d+)\s*(year|month|day|hour|minute|second)s?'\s*)?\)""",
    re.IGNORECASE,
)

def _normalize_sqlite_dates(sql: str) -> str:
    # date('now') or date('now','-1 year') -> CURRENT_DATE +/- INTERVAL 'N unit'
    def _date_subst(m):
        sign, num, unit = m.group(1), m.group(2), m.group(3)
        if not sign:  # just date('now')
            return "CURRENT_DATE"
        op = "-" if sign == "-" else "+"
        return f"CURRENT_DATE {op} INTERVAL '{num} {unit.lower()}'"
    sql = _SQLITE_DATE_RE.sub(_date_subst, sql)

    # datetime('now') / datetime('now','+/-N unit') -> CURRENT_TIMESTAMP +/- INTERVAL 'N unit'
    def _dt_subst(m):
        sign, num, unit = m.group(1), m.group(2), m.group(3)
        if not sign:
            return "CURRENT_TIMESTAMP"
        op = "-" if sign == "-" else "+"
        return f"CURRENT_TIMESTAMP {op} INTERVAL '{num} {unit.lower()}'"
    sql = _SQLITE_DATETIME_RE.sub(_dt_subst, sql)

    return sql

def _mysql_to_duckdb(stmt: str) -> str:
    s = _normalize_sqlite_dates(stmt)  # <-- NEW: normalize SQLite first
    try:
        return parse_one(s, read="mysql").sql(dialect="duckdb")
    except Exception:
        # minimal fallbacks for MySQLisms if parse fails
        s = re.sub(r"`([^`]+)`", r'"\1"', s)
        s = re.sub(
            r"DATE_SUB\s*\(\s*(CURRENT_DATE|NOW\(\))\s*,\s*INTERVAL\s+(\d+)\s+(YEAR|MONTH|DAY)\s*\)",
            lambda m: f"{'CURRENT_DATE' if m.group(1).startswith('CURRENT') else 'CURRENT_DATE'} - INTERVAL '{m.group(2)} {m.group(3).lower()}'",
            s, flags=re.IGNORECASE,
        )
        s = re.sub(
            r"DATE_ADD\s*\(\s*(CURRENT_DATE|NOW\(\))\s*,\s*INTERVAL\s+(\d+)\s+(YEAR|MONTH|DAY)\s*\)",
            lambda m: f"{'CURRENT_DATE' if m.group(1).startswith('CURRENT') else 'CURRENT_DATE'} + INTERVAL '{m.group(2)} {m.group(3).lower()}'",
            s, flags=re.IGNORECASE,
        )
        s = re.sub(r"\bIFNULL\s*\(", "COALESCE(", s, flags=re.IGNORECASE)
        s = re.sub(r"\bLOCATE\s*\(\s*([^,]+)\s*,\s*([^)]+)\)", r"STRPOS(\2, \1)", s, flags=re.IGNORECASE)
        return s

def _normalize_df(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    for c in df.columns:
        if df[c].dtype == "O":
            try:
                df[c] = pd.to_numeric(df[c])
            except Exception:
                pass
    return df.replace({np.nan: None})

def _exec_script_capture_last_select(con, script: str):
    last_df, last_sel_sql = None, None
    for raw in _split_sql_statements(script):
        stmt = _mysql_to_duckdb(raw)
        # detect SELECT after minimal comment strip
        s = re.sub(r"^\s*(--[^\n]*\n|/\*.*?\*/\s*)*", "", stmt, flags=re.DOTALL)
        if re.match(r"(?is)^\s*(with\b.*?select|select)\b", s):
            last_df = con.execute(stmt).fetchdf()
            last_sel_sql = stmt
        else:
            con.execute(stmt)
    if last_df is not None:
        last_df = _normalize_df(last_df)
    return last_df, last_sel_sql

def evaluate_sql(sql_context: str, golden_sql: str, predicted_sql: str):
    con = duckdb.connect(":memory:")

    # context
    try:
        for raw in _split_sql_statements(sql_context):
            con.execute(_mysql_to_duckdb(raw))
    except Exception as e:
        return 0, {"reason": "context_error", "detail": str(e)}

    # golden
    try:
        gold_df, gold_last_select = _exec_script_capture_last_select(con, golden_sql)
    except Exception as e:
        return 0, {"reason": "gold_error", "detail": str(e)}
    if gold_df is None:
        return 0, {"reason": "gold_no_select", "detail": "No SELECT in golden_sql."}

    # predicted
    try:
        pred_df, pred_last_select = _exec_script_capture_last_select(con, predicted_sql)
    except Exception as e:
        return 0, {"reason": "pred_error", "detail": str(e)}
    if pred_df is None:
        return 0, {"reason": "pred_no_select", "detail": "No SELECT in predicted_sql."}

    # column alignment (allow pred supersets; else try set/positional)
    gold_cols, pred_cols = list(gold_df.columns), list(pred_df.columns)
    if gold_cols == pred_cols:
        pass
    elif set(gold_cols).issubset(pred_cols):
        pred_df = pred_df[gold_cols]
    elif set(gold_cols) == set(pred_cols):
        pred_df = pred_df[gold_cols]
    elif gold_df.shape[1] == pred_df.shape[1]:
        new_names = [f"c{i}" for i in range(gold_df.shape[1])]
        gold_df = gold_df.copy(); pred_df = pred_df.copy()
        gold_df.columns = new_names; pred_df.columns = new_names
    else:
        return 0, {"reason": "column_mismatch",
                   "detail": f"Different number of columns: expected {gold_df.shape[1]}, got {pred_df.shape[1]}"}

    # ordering rule from gold's last SELECT
    gold_has_order = bool(_ORDER_BY.search(gold_last_select or ""))
    if not gold_has_order:
        try:
            g = gold_df.sort_values(by=list(gold_df.columns), kind="mergesort").reset_index(drop=True)
            p = pred_df.sort_values(by=list(gold_df.columns), kind="mergesort").reset_index(drop=True)
        except Exception:
            g = gold_df.reset_index(drop=True); p = pred_df.reset_index(drop=True)
    else:
        g = gold_df.reset_index(drop=True); p = pred_df.reset_index(drop=True)

    # value compare
    if g.shape != p.shape:
        return 0, {"reason": "shape_mismatch", "detail": f"gold {g.shape} vs pred {p.shape}"}

    for c in g.columns:
        if pd.api.types.is_numeric_dtype(g[c]) and pd.api.types.is_numeric_dtype(p[c]):
            if not np.allclose(g[c].values, p[c].values, rtol=1e-6, atol=1e-8, equal_nan=True):
                return 0, {"reason": "value_mismatch", "detail": f"Numeric mismatch in '{c}'",
                           "gold_head": g.head(10).to_dict("records"),
                           "pred_head": p.head(10).to_dict("records")}
        else:
            eq = [(x == y) or (x is None and y is None) for x, y in zip(g[c].values, p[c].values)]
            if not all(eq):
                return 0, {"reason": "value_mismatch", "detail": f"Mismatch in '{c}'",
                           "gold_head": g.head(10).to_dict("records"),
                           "pred_head": p.head(10).to_dict("records")}
    return 1, None

## Test

In [7]:
demo_index = 4
context = ds['train'][demo_index]['sql_context']
prompt = ds['train'][demo_index]['sql_prompt']
golden_sql = ds['train'][demo_index]['sql']

print(f"Context: {context}")
print(f"Prompt: {prompt}")
print(f"Golden sql: {golden_sql}")
result = program(sql_context=context, sql_prompt=prompt)
print(result)

Context: CREATE TABLE upgrades (id INT, cost FLOAT, type TEXT); INSERT INTO upgrades (id, cost, type) VALUES (1, 500, 'Insulation'), (2, 1000, 'HVAC'), (3, 1500, 'Lighting');
Prompt: Find the energy efficiency upgrades with the highest cost and their types.
Golden sql: SELECT type, cost FROM (SELECT type, cost, ROW_NUMBER() OVER (ORDER BY cost DESC) as rn FROM upgrades) sub WHERE rn = 1;
Prediction(
    reasoning='To find the energy efficiency upgrade with the highest cost and its type, we can simply select the row from the `upgrades` table where the `cost` is equal to the maximum cost in the table.',
    sql='SELECT * FROM upgrades WHERE cost = (SELECT MAX(cost) FROM upgrades)'
)

In [8]:
score, info = evaluate_sql(context, golden_sql, result.sql)
print(score, info)

1 None

## Environment didn't work, let's use LLM as Judge

In [9]:
class Judge(dspy.Signature):
    """You are required to judge two SQL queries for functional similarity. You will be given a context of how the table(s) and data were created, and the natural language prompt from the user"""

    sql_context: str = dspy.InputField(description="SQL statement(s) creating the table(s) and the input data")
    sql_prompt: str = dspy.InputField(description="Natural language prompt from the user")
    golden_sql: str = dspy.InputField(description="The golden SQL query from our dataset")
    candidate_sql: str = dspy.InputField(description="A SQL query generated by a model for the same prompt")
    similar: bool = dspy.OutputField(description="True if the candidate SQL query is functionally similar to the golden SQL query")

judge = dspy.ChainOfThought(Judge)
judge.lm = reflection_lm

In [10]:
judge_response = judge(sql_context=context, sql_prompt=prompt, golden_sql=golden_sql, candidate_sql=result.sql)
print(f"Context: {context}")
print(f"Prompt: {prompt}")
print(f"Golden SQL: {golden_sql}")
print(f"Candidate SQL: {result.sql}")
print(f"Judge Response: {judge_response}")

Context: CREATE TABLE upgrades (id INT, cost FLOAT, type TEXT); INSERT INTO upgrades (id, cost, type) VALUES (1, 500, 'Insulation'), (2, 1000, 'HVAC'), (3, 1500, 'Lighting');
Prompt: Find the energy efficiency upgrades with the highest cost and their types.
Golden SQL: SELECT type, cost FROM (SELECT type, cost, ROW_NUMBER() OVER (ORDER BY cost DESC) as rn FROM upgrades) sub WHERE rn = 1;
Candidate SQL: SELECT * FROM upgrades WHERE cost = (SELECT MAX(cost) FROM upgrades)
Judge Response: Prediction(
    reasoning='The golden SQL query uses a subquery with the ROW_NUMBER() window function to rank the rows by cost in descending order and then filters the row with the highest cost. On the other hand, the candidate SQL query simply retrieves the rows where the cost is equal to the maximum cost in the table. The candidate query does not consider ties in cost, which may lead to different results.',
    similar=False
)

# Get ready to GEPA

In [11]:
# pip install datasets dspy-ai
import math, random
from typing import Callable, List, Tuple, Optional
from datasets import Dataset, DatasetDict
from dspy import GEPA

def split_for_gepa(
    ds: Dataset,
    to_example: Callable[[dict], "dspy.Example"],
    val_size: float = 0.15,
    seed: int = 42,
    group_col: Optional[str] = None,
    stratify_col: Optional[str] = None,
) -> Tuple[List["dspy.Example"], List["dspy.Example"]]:
    """
    Return (train_set, val_set) as lists of dspy.Example.
    - If group_col is set: group-aware split (no group leakage).
    - Else if stratify_col is set: use HF stratified split.
    - Else: random split.
    """
    assert 0.0 < val_size < 1.0, "val_size must be in (0,1)"
    rng = random.Random(seed)

    # --- Group-aware split (preferred for text2sql) ---
    if group_col:
        groups = ds[group_col]
        # Build group -> indices
        g2idx = {}
        for i, g in enumerate(groups):
            g2idx.setdefault(g, []).append(i)
        uniq_groups = list(g2idx.keys())
        rng.shuffle(uniq_groups)
        n_val_groups = max(1, math.floor(val_size * len(uniq_groups)))
        val_groups = set(uniq_groups[:n_val_groups])

        val_idx = [i for g in val_groups for i in g2idx[g]]
        train_idx = [i for g in uniq_groups[n_val_groups:] for i in g2idx[g]]

        # Edge case: if a group is gigantic, ensure both splits non-empty
        if not train_idx or not val_idx:
            # fallback: plain random split
            perm = list(range(len(ds)))
            rng.shuffle(perm)
            cut = max(1, math.floor(val_size * len(ds)))
            val_idx, train_idx = perm[:cut], perm[cut:]

        ds_train = ds.select(train_idx)
        ds_val = ds.select(val_idx)

    # --- Stratified split (when you have a label/cluster column) ---
    elif stratify_col:
        # HF does stratify on categorical-like columns
        parts: DatasetDict = ds.train_test_split(
            test_size=val_size,
            seed=seed,
            stratify_by_column=stratify_col,
        )
        ds_train, ds_val = parts["train"], parts["test"]

    # --- Simple random split ---
    else:
        parts: DatasetDict = ds.train_test_split(test_size=val_size, seed=seed)
        ds_train, ds_val = parts["train"], parts["test"]

    # Map to dspy.Example lists
    train_set = [to_example(r) for r in ds_train]
    val_set = [to_example(r) for r in ds_val]
    return train_set, val_set

def to_dspy_example(row):
    # mark inputs; leave gold 'sql' as label
    return dspy.Example(
        sql_prompt=row["sql_prompt"],
        sql_context=row["sql_context"],
        sql=row["sql"],          # gold label
    ).with_inputs("sql_prompt", "sql_context")


# call function that splits ds['train'] into train_set and val_set as needed
# ds is your loaded HF dataset dict; we split ds["train"]
train_set, val_set = split_for_gepa(
    ds["train"],
    to_dspy_example,          # your to_dspy_example(row)
    val_size=0.5,
    seed=42,
    group_col=None,      # e.g., "db_id" if available
    stratify_col=None,   # or a column like "op_class" if you want stratification
)

In [12]:
max_variants_to_try = 20 # number of variants to test
mini_batch_size = 20 # mini-batch size
val_set_size = 200 # val-set size
train_set_size = 200 # train-set size

def budget_for_variants(N, V, k, slack=2):
    # slack handles occasional extra probes/promotions
    return V + N * (k + slack)

def metric_with_feedback(example, pred, trace=None, pred_name=None, pred_trace=None):
    judge_response = judge(sql_context=example.sql_context, sql_prompt=example.sql_prompt, golden_sql=example.sql, candidate_sql=pred.sql)
    score = 0
    if (judge_response.similar):
        score = 1
    return dspy.Prediction(score=score, feedback=judge_response.reasoning)

val_for_tracking = val_set[:val_set_size]   # 128–512 is a good range
train_set_for_optimization = train_set[:train_set_size]
optimizer = GEPA(
    metric=metric_with_feedback,
    num_threads=32,
    track_stats=True,
    reflection_minibatch_size=mini_batch_size,
    reflection_lm=reflection_lm,
    use_wandb=True,
    wandb_api_key=wandb_api_key,
    log_dir="logs",
    auto="light"   
)

# Run GEPA

In [13]:
optimized_program = optimizer.compile(
    program,
    trainset=train_set_for_optimization,
    valset=val_for_tracking,
)

2025/10/14 16:55:28 INFO dspy.teleprompt.gepa.gepa: Running GEPA for approx 1180 metric calls of the program. This amounts to 2.95 full evals on the train+val set.
2025/10/14 16:55:28 INFO dspy.teleprompt.gepa.gepa: Using 200 examples for tracking Pareto scores. You can consider using a smaller sample of the valset to allow GEPA to explore more diverse solutions within the same budget.
/Users/raveesh/dev/text2sql/.venv/lib/python3.12/site-packages/pydantic/_internal/_generate_schema.py:2249: UnsupportedFieldAttributeWarning: The 'repr' attribute with value False was provided to the `Field()` function, which has no effect in the context it was used. 'repr' is field-specific metadata, and can only be attached to a model field using `Annotated` metadata or by assignment. This may have happened because an `Annotated` type alias using the `type` statement was used, or if the `Field()` function was attached to a single member of a union type.
  warnings.warn(
/Users/raveesh/dev/text2sql/.venv/lib/python3.12/site-packages/pydantic/_internal/_generate_schema.py:2249: UnsupportedFieldAttributeWarning: The 'frozen' attribute with value True was provided to the `Field()` function, which has no effect in the context it was used. 'frozen' is field-specific metadata, and can only be attached to a model field using `Annotated` metadata or by assignment. This may have happened because an `Annotated` type alias using the `type` statement was used, or if the `Field()` function was attached to a single member of a union type.
  warnings.warn(
wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /Users/raveesh/.netrc
wandb: Currently logged in as: raveeshbhalla90 (raveeshbhalla90-personal) to https://api.wandb.ai. Use `wandb login --relogin` to force relogin

wandb: Detected [dspy, litellm, openai] in use.
wandb: Use W&B Weave for improved LLM call tracing. Install Weave with `pip install weave` then add `import weave` to the top of your script.
wandb: For more information, check out the docs at: https://weave-docs.wandb.ai/
GEPA Optimization:   0%|          | 0/1180 [00:00<?, ?rollouts/s]2025/10/14 16:55:46 INFO dspy.evaluate.evaluate: Average Metric: 123.0 / 200 (61.5%)
2025/10/14 16:55:46 INFO dspy.teleprompt.gepa.gepa: Iteration 0: Base program full valset score: 0.615
GEPA Optimization:  17%|█▋        | 200/1180 [00:16<01:21, 12.09rollouts/s]2025/10/14 16:55:46 INFO dspy.teleprompt.gepa.gepa: Iteration 1: Selected program 0 score: 0.615

Average Metric: 17.00 / 20 (85.0%): 100%|██████████| 20/20 [00:03<00:00,  6.64it/s]

2025/10/14 16:55:49 INFO dspy.evaluate.evaluate: Average Metric: 17.0 / 20 (85.0%)

2025/10/14 16:56:13 INFO dspy.teleprompt.gepa.gepa: Iteration 1: Proposed new text for predict: You are a SQL/database expert assistant. You will be given:
- sql_context: SQL DDL/DML statements that define the available table schemas and may include example INSERTs.
- sql_prompt: a natural-language request asking for data retrieval, insertion, deletion, or aggregation based on the provided context.

Your job: produce (1) a short, clear reasoning statement describing how you will satisfy the prompt using the provided schemas, and (2) a single SQL statement that implements that plan against the provided schema.

Rules and conventions to follow:

1. Output format
   - Always produce two labeled parts: a brief "reasoning" and then the "sql".
   - Keep reasoning concise (one or two sentences). It should state any important assumptions and the approach (e.g., which table(s) used, filters, aggregates, joins).
   - The "sql" must contain exactly one valid SQL statement (terminated with a semicolon is optional but acceptable). Do not include any other unrelated SQL statements.

2. Use only the provided schema and column names
   - Do not invent tables or columns not present in sql_context.
   - Use the column names and table names exactly as provided (case-sensitive only if context implies so).
   - If the prompt requires data not possible from the given schema, state that clearly in the reasoning and, if sensible, return the closest possible query or request clarification.

3. Choosing the correct aggregation or operation
   - Use SUM(column) when the prompt asks for a total amount stored in a numeric column (e.g., "total number of pallets" when a pallets_handled column exists).
   - Use COUNT(*) or COUNT(column) when the prompt asks for the number of rows/occurrences. Use COUNT(DISTINCT col) when unique counts are requested.
   - For averages use AVG(column). For extremes use MIN(column) or MAX(column).
   - For grouped results use GROUP BY and label aggregated outputs with AS for clarity.
   - When filtering groups (e.g., "routes with more than 5 records"), use HAVING COUNT(*) > 5 (or the appropriate aggregate).

4. Joins, subqueries, and EXISTS
   - When combining related tables prefer explicit JOINs (INNER JOIN, LEFT JOIN) for clarity and efficiency, especially when the example feedback indicates a join is preferable.
   - Subqueries are acceptable (IN, EXISTS) when they are simpler; prefer NOT EXISTS for "has not" style logic (e.g., employees who have NOT completed X).
   - Use table aliases for readability in joins.

5. Filtering and predicates
   - Use WHERE for row-level filters (e.g., equality on strings, numeric comparisons, dates).
   - Use string matching with LIKE '%text%' when the prompt implies substring matching (e.g., "AI ethics" in course names).
   - Use explicit date formats from the context (e.g., 'YYYY-MM-DD') and equality checks for specific dates unless a range is requested.

6. Limits, ordering, and top-N
   - For "top N" requests, compute the metric (AVG, SUM, COUNT, etc.), ORDER BY that metric DESC (or ASC if specified) and apply LIMIT N.
   - Label the metric column with AS.

7. INSERT and DELETE operations
   - For INSERTs, list target columns explicitly and supply VALUES matching types; quote string/date literals with single quotes.
   - For DELETEs, always include a WHERE clause that matches the user's condition exactly to avoid deleting all rows.

8. Ambiguity and assumptions
   - If the prompt is ambiguous (e.g., "total number" could mean COUNT rows or SUM a numeric column), choose the most reasonable interpretation based on the schema and state that assumption in the reasoning.
   - If multiple interpretations are reasonable, either (a) ask for clarification (briefly) in the reasoning, or (b) pick the most likely interpretation and note it in the reasoning.

9. Efficiency and correctness
   - Prefer JOINs over IN-subqueries when both are possible and feedback suggests join is better.
   - Use DISTINCT when the prompt implies unique values.
   - Use proper grouping and HAVING for group filters.

10. Presentation and safety
    - Keep outputs concise; do not output extra commentary beyond the "reasoning" and "sql".
    - Use single quotes for string/date literals and TRUE/FALSE for booleans if the schema uses them.
    - If the requested action cannot be performed safely with the given schema (e.g., missing columns for an insertion), explain that in the reasoning and do not produce an incorrect SQL.

Example output pattern:
reasoning
<one or two sentences describing tables/filters/aggregations/assumptions>

sql
<single SQL statement>

Follow these rules for every task.
2025/10/14 16:56:16 INFO dspy.evaluate.evaluate: Average Metric: 16.0 / 20 (80.0%)
2025/10/14 16:56:16 INFO dspy.teleprompt.gepa.gepa: Iteration 1: New subsample score is not better, skipping
GEPA Optimization:  20%|██        | 240/1180 [00:46<03:37,  4.33rollouts/s]2025/10/14 16:56:16 INFO dspy.teleprompt.gepa.gepa: Iteration 2: Selected program 0 score: 0.615

Average Metric: 15.00 / 20 (75.0%): 100%|██████████| 20/20 [00:03<00:00,  5.93it/s]

2025/10/14 16:56:19 INFO dspy.evaluate.evaluate: Average Metric: 15.0 / 20 (75.0%)

2025/10/14 16:56:49 INFO dspy.teleprompt.gepa.gepa: Iteration 2: Proposed new text for predict: You are a SQL-writing assistant and a database expert. You will be given two inputs:
  - sql_prompt: a natural-language request describing the data the user wants.
  - sql_context: DDL and sample DML (CREATE TABLE, INSERT, VIEW, etc.) showing table and column names, types, and sometimes helper views.

Your job: produce a single correct SQL statement (or DDL/DML when the prompt requests creation/insertion) that directly answers sql_prompt using only the tables, views, columns and data available in sql_context. Also return a one- or two-sentence natural-language justification of the approach (how you mapped the prompt to SQL). Follow the rules, patterns and domain knowledge below.

Input parsing and assumptions
- Always use the exact table and column names present in sql_context. Do not invent tables or columns not shown.
- If sql_context defines a view, prefer using the view when it already filters or restricts data relevant to the prompt.
- If sql_context contains sample INSERTs, they only show example data — do not assume additional hidden rows beyond typical semantics.

How to map natural-language requests to SQL
- Aggregation:
  - "total", "sum", "total revenue" -> SUM(...)
  - "average" -> AVG(...)
  - "maximum", "max" -> MAX(...)
  - "minimum", "min" -> MIN(...)
  - "count", "how many", "number of" -> COUNT(...) or COUNT(DISTINCT ...) if uniqueness is required
  - When grouping by categories use GROUP BY for non-aggregated columns.
  - Use HAVING to filter aggregated groups (e.g., HAVING COUNT(DISTINCT ...) > 1).
- Filtering:
  - Apply WHERE for row-level filters (e.g., region, year, status).
  - For date ranges, use standard constructs: e.g. WHERE date_col >= 'YYYY-MM-DD' AND date_col < 'YYYY-MM-DD', or WHERE date_col >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK). DATE_SUB(CURRENT_DATE(), INTERVAL n DAY/WEEK/MONTH) and CURDATE() / CURRENT_DATE() are acceptable in MySQL-style dialects.
- Joins:
  - Use INNER JOIN (JOIN) when the prompt requests an "inner join" or when you only want rows present in both tables.
  - Use LEFT JOIN plus WHERE right_table.key IS NULL to find entities with no related rows (e.g., companies with no patents).
  - Join on the columns that logically connect tables — use keys present in sql_context.
- Aggregation + non-aggregated output:
  - If you SELECT non-aggregated columns alongside aggregates, include those non-aggregated columns in GROUP BY per SQL standard.
- DISTINCT:
  - Use SELECT DISTINCT when the prompt requests unique values.
  - Use COUNT(DISTINCT col) when the prompt asks for the count of distinct items.
- Top/ordering:
  - To return the single highest/lowest use ORDER BY <aggregate> DESC (or ASC) LIMIT 1.
  - Only add ORDER BY when the user asks for sorted results or when selecting the top N.
- Time differences and sessions:
  - To compute session length use TIMESTAMPDIFF(unit, start, end) (MySQL) or appropriate dialect-specific function; then aggregate (AVG, SUM) as required.
- DDL/DML tasks:
  - If the prompt asks to create a table or insert a row, output a valid CREATE TABLE or INSERT statement that uses the columns/types/names asked for and matches the provided sql_context style (explicit column lists are preferred in INSERT).
- Column aliasing and readability:
  - Alias aggregates with clear names (e.g., AS total_revenue, AS average_session_length).
  - Use table aliases (e.g., a, b) when joining for clarity, but keep them readable.

Common SQL patterns and when to use them (explicit examples you should employ when relevant)
- Sum of revenue across rows: SELECT SUM(quantity * unit_price) AS total_revenue FROM table WHERE ...;
- Total by group: SELECT group_col, SUM(value) AS total FROM table WHERE ... GROUP BY group_col;
- Count per group: SELECT col, COUNT(*) AS cnt FROM table WHERE ... GROUP BY col;
- Count of distinct related items: SELECT p.name FROM parent p JOIN child c ON p.id = c.parent_id GROUP BY p.id HAVING COUNT(DISTINCT c.some_col) > 1;
- Entities with no related rows: SELECT p.name FROM parent p LEFT JOIN child c ON p.id = c.parent_id WHERE c.id IS NULL;
- Latest N or highest aggregate: SELECT key FROM table GROUP BY key ORDER BY AVG(metric) DESC LIMIT 1;
- Date filtering for a quarter or year: use explicit date bounds (e.g., WHERE sale_date >= '2019-04-01' AND sale_date < '2019-07-01') rather than relying on ambiguous month names.
- When sql_prompt asks "for each X in each Y" -> GROUP BY X, Y.
- When sql_prompt asks for "using an inner join" -> use JOIN (not LEFT JOIN).

Error handling, ambiguity, and questions
- If the prompt is ambiguous (e.g., asks for "recent" but gives no timeframe, or asks to "sort by genre" but no genre exists in provided schema), ask one concise clarifying question instead of guessing.
- If the prompt requests data that cannot be derived from the provided schema (no join path, missing columns), respond with a brief explanation of what's missing and ask for the needed schema/column.

Style and output format
- Return exactly two sections:
  1) A one- or two-sentence reasoning/justification describing the approach.
  2) The SQL statement only (no additional surrounding text).
- The SQL should be syntactically valid for common SQL (MySQL-style functions like DATE_SUB, TIMESTAMPDIFF are acceptable). Use semicolon at the end.
- Keep queries minimal and focused — do not include unnecessary ORDER BY clauses unless required by the prompt.
- Use aliases and clear aggregate names.

Examples of pitfalls to avoid (learned from prior cases)
- Don’t omit SUM/AVG/COUNT when the prompt explicitly asks for totals/averages; include aggregation.
- When the prompt asks for "combined total for both years", don’t group by year; sum across years instead.
- When asked for the number of likes and shares per post, aggregate likes and shares per post (SUM) if likes/shares tables hold multiple rows per post.
- If the prompt says "using an inner join", do not use LEFT JOIN.
- When asked for the names of companies with no patents, either use LEFT JOIN ... IS NULL or a NOT IN / NOT EXISTS subquery; both are acceptable.
- Use COUNT(DISTINCT ...) when the prompt asks for "more than one country" or similar distinct counts.

If you follow these rules you will produce correct, understandable SQL queries that match the user's intent and the provided schema.
2025/10/14 16:56:52 INFO dspy.evaluate.evaluate: Average Metric: 15.0 / 20 (75.0%)
2025/10/14 16:56:52 INFO dspy.teleprompt.gepa.gepa: Iteration 2: New subsample score is not better, skipping
GEPA Optimization:  24%|██▎       | 280/1180 [01:22<05:55,  2.53rollouts/s]2025/10/14 16:56:52 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Selected program 0 score: 0.615

Average Metric: 10.00 / 20 (50.0%): 100%|██████████| 20/20 [00:03<00:00,  5.25it/s]

2025/10/14 16:56:56 INFO dspy.evaluate.evaluate: Average Metric: 10.0 / 20 (50.0%)

2025/10/14 16:57:28 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Proposed new text for predict: You are a SQL-writing assistant (a database expert). You will be given two inputs:
- sql_context: a block of DDL and sample INSERT statements that defines table names, column names and types and gives example rows.
- sql_prompt: a natural-language question or task describing the data the user wants.

Your job: produce a single, correct SQL query (or DDL statement if the prompt explicitly requests creating a table) that answers the sql_prompt using the schema in sql_context. Also produce a short reasoning/explanation (1–3 sentences) describing the approach you took.

Input format (what to expect)
- sql_context: contains CREATE TABLE statements and optional INSERTs. Treat the schema (table names and column names/types) as authoritative. Sample INSERTs illustrate values and types but are not exhaustive.
- sql_prompt: a natural-language instruction that may request selection, aggregation, grouping, filters by date/region/etc., creating a table, top-N, counts, averages, joins, etc.

Output format (exact expectations)
- First, a concise "reasoning" explanation (1–3 short sentences) explaining the approach and any important assumptions.
- Then, the SQL statement only (in a single code block). The SQL must be executable against the schema provided (use the table/column names from sql_context). If the prompt explicitly asks to create a table produce a CREATE TABLE statement (use IF NOT EXISTS if the schema may already define it). Otherwise produce a SELECT (or other DML) statement.

SQL style, correctness and conventions (rules and best practices you must follow)
1. Use the schema from sql_context. Do not invent column names or tables. If a needed column is missing from the schema, ask a clarifying question instead of guessing.
2. Prefer ANSI/portable SQL where possible. Use these common functions when the examples indicate them:
   - date ranges: DATE_SUB(CURRENT_DATE, INTERVAL n MONTH) or DATE_SUB(CURDATE(), INTERVAL n MONTH)
   - year/month extraction: EXTRACT(YEAR FROM date), EXTRACT(MONTH FROM date)
   - quarter: QUARTER(date) and also validate YEAR(date) for year-scoped quarters
   - CURRENT_DATE or CURDATE() for “today”
   Use the function style consistent with the sql_context examples; if dialect is unclear, prefer EXTRACT and CURRENT_DATE.
3. Aggregates must have readable aliases. Always alias aggregated columns (e.g., AS total_streams, AS average_budget).
4. GROUP BY must include only the non-aggregated columns required by the SELECT. Avoid grouping by extra columns (e.g., avoid grouping by both id and name when only name is requested, unless necessary for correctness).
5. Use explicit JOINs and ON clauses (JOIN ... ON ...) rather than commas. Use LEFT JOIN when the prompt asks to "list all X and counts" so items with zero matches are included. Use INNER JOIN when only matching rows are required.
6. For "top N per group" tasks, use window functions (ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC)) and then filter on row number. For "top N overall" use ORDER BY ... DESC LIMIT N.
7. For filters by date ranges like "last N months", "last 12 months", "Q1 of 2021", use appropriate date functions:
   - last N months: WHERE date >= DATE_SUB(CURRENT_DATE, INTERVAL N MONTH)
   - specific quarter/year: WHERE EXTRACT(YEAR FROM date) = 2021 AND QUARTER(date) = 1
   - months/years: use EXTRACT or DATE_TRUNC equivalents
8. Use DISTINCT only when explicitly required (e.g., "companies that have received funding in both USA and Canada" may require DISTINCT or grouping with HAVING COUNT(DISTINCT country) = 2).
9. When counting or summing by categories, include an alias and ORDER BY if prompt requests a particular ordering (e.g., "present in descending order of budget").
10. Minimize returning unnecessary columns: return only the columns asked for (and any additional columns strictly needed for correctness).
11. When the prompt is ambiguous (e.g., "top 3 initiatives in Kenya, Tanzania and Uganda" — top 3 per country or top 3 combined?), ask a clarifying question instead of guessing.
12. If the prompt asks for schema creation but the sql_context already contains a CREATE for the same table, prefer CREATE TABLE IF NOT EXISTS with a schema consistent with the context (or ask whether to recreate/replace).
13. Use table aliases to keep SQL concise and readable (e.g., FROM programs p JOIN categories c ON ...).
14. If the prompt requests listing items by month/quarter/year, include an extracted month/quarter/year column in the SELECT with a clear alias (e.g., EXTRACT(MONTH FROM date) AS month).
15. For performance/clarity prefer joins + grouping/HAVING/window functions rather than correlated subqueries, unless a subquery is clearer or simpler.

Common pitfalls to avoid (learned from examples)
- Do not group by extra columns that change the aggregation semantics (e.g., grouping by both artist and country when the ask is total per artist).
- When counting attendees per training and the prompt asks for all trainings, use LEFT JOIN so trainings with zero attendees are included.
- When asked for “companies that received funding in both USA and Canada”, it is standard to either:
   - use GROUP BY company_id HAVING COUNT(DISTINCT country) >= 2 (or =2 when only USA & Canada), or
   - self-join fundings filtered to each country, or
   - use an intersection/subquery. Do not merely filter WHERE country = 'USA' AND country = 'Canada' (impossible).
- Prefer explicit date function usage for quarters and years rather than hard-coded date ranges unless the prompt gives explicit dates.
- Always alias aggregates (SUM(... ) AS total), and use meaningful aliases matching the prompt.

When to ask clarifying questions
- Missing columns required by the prompt (e.g., prompt asks for department but table has none).
- Ambiguities such as top-N per group vs top-N overall, which countries to include when prompt lists several regions, or whether date ranges are inclusive/exclusive.
- If the prompt asks to "create a table" but does not specify columns or types and none are in sql_context.

Response content requirements
- Reasoning: 1–3 short sentences mentioning the join/group/filter/aggregation strategy and any assumptions.
- SQL: single SQL statement appropriate to the prompt, syntactically consistent with the schema in sql_context, with proper aliases, grouping, ordering and limiting as required.

Examples of patterns you should use (not exhaustive)
- Sum per group: SELECT category, SUM(budget) AS total_budget FROM programs WHERE budget > 5000 GROUP BY category;
- Last N months: WHERE donation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 12 MONTH)
- Top N per group: use ROW_NUMBER() OVER (PARTITION BY country ORDER BY budget DESC) and filter row_num <= 3
- Count per month/year/type: SELECT EXTRACT(MONTH FROM date) AS month, incident_type, mine_location, COUNT(*) AS num_incidents FROM incidents WHERE EXTRACT(YEAR FROM date) = 2021 GROUP BY month, incident_type, mine_location ORDER BY month;

Be concise and precise. If you cannot produce a correct SQL because of missing schema details or ambiguous requirements, ask one clear clarifying question.
2025/10/14 16:57:32 INFO dspy.evaluate.evaluate: Average Metric: 12.0 / 20 (60.0%)
2025/10/14 16:57:48 INFO dspy.evaluate.evaluate: Average Metric: 123.0 / 200 (61.5%)
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Full valset score for new program: 0.615
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Full train_val score for new program: 0.615
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Individual valset scores for new program: [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1]
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: New valset pareto front scores: [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Full valset pareto front score: 0.685
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Updated valset pareto front programs: [{0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}, {1}, {0, 1}, {0, 1}, {0}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0, 1}, {0}, {0, 1}]
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Best valset aggregate score so far: 0.615
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Best program as per aggregate score on train_val: 0
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Best program as per aggregate score on valset: 0
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Best score on valset: 0.615
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Best score on train_val: 0.615
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: Linear pareto front program index: 0
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 3: New program candidate index: 1
GEPA Optimization:  44%|████▍     | 520/1180 [02:18<03:07,  3.52rollouts/s]2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 4: No merge candidates found
2025/10/14 16:57:48 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Selected program 1 score: 0.615

Average Metric: 13.00 / 20 (65.0%): 100%|██████████| 20/20 [00:02<00:00,  6.86it/s]

2025/10/14 16:57:51 INFO dspy.evaluate.evaluate: Average Metric: 13.0 / 20 (65.0%)

2025/10/14 16:58:29 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Proposed new text for predict: You are a SQL-writing assistant (a database expert). You will be given two inputs:
- sql_context: a block of DDL and optional sample INSERTs that defines the schema (table names, column names and types) and gives example rows. Treat this schema as authoritative.
- sql_prompt: a natural-language question or task describing the data the user wants.

Your job: produce exactly two things in the specified order:
  1) A concise reasoning explanation (1–3 short sentences) describing the approach, key joins/filters/aggregations, and any important assumptions.
  2) A single SQL statement (or DDL statement if the prompt explicitly requests creating a table). The SQL must be executable against the schema in sql_context and must use the table/column names from sql_context.

Format rules (must follow exactly)
- Output the reasoning (1–3 short sentences) first (plain text).
- Then output exactly one SQL statement inside a single code block. No additional SQL statements, no extra text inside the code block.
- If the prompt requests creating a table and the same table already appears in sql_context, prefer CREATE TABLE IF NOT EXISTS and match column names/types to the context where possible.
- If you cannot produce a correct SQL because required columns/tables are missing or the prompt is ambiguous, ask one clear clarifying question instead of guessing.

SQL style and best-practice rules
1. Use only table and column names from sql_context. Do not invent columns or tables. If a required column is missing, ask a clarifying question.
2. Prefer ANSI/portable SQL. Use functions consistent with sql_context examples. If dialect is unclear, prefer:
   - DATE arithmetic: DATE_SUB(CURRENT_DATE, INTERVAL n MONTH) (or DATE_SUB(CURDATE(), INTERVAL n MONTH) if examples use CURDATE()).
   - YEAR/MONTH: EXTRACT(YEAR FROM date), EXTRACT(MONTH FROM date)
   - Quarter: QUARTER(date) and pair with EXTRACT(YEAR FROM date) for year-scoped quarters
   - Current date: CURRENT_DATE or CURDATE() (follow sql_context usage when present)
3. Aggregates:
   - Always alias aggregated columns (e.g., AS total_streams, AS avg_budget).
   - Return only the columns requested (and any extra non-aggregated columns strictly required for grouping).
4. GROUP BY:
   - GROUP BY only the non-aggregated columns present in the SELECT.
   - Avoid grouping by extra columns that change aggregation semantics.
5. JOINs:
   - Use explicit JOIN ... ON ... syntax.
   - Use LEFT JOIN when the prompt says "list all X and counts" (so items with zero matches are included). Use INNER JOIN when only matching rows are required.
6. Top-N patterns:
   - Top N per group: use ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC) and then filter row_num <= N.
   - Top N overall: use ORDER BY metric DESC LIMIT N.
7. Date filtering:
   - "Last N months": WHERE date_column >= DATE_SUB(CURRENT_DATE, INTERVAL N MONTH)
   - Specific quarter/year: WHERE EXTRACT(YEAR FROM date_col) = 2021 AND QUARTER(date_col) = 1
   - Use EXTRACT for months/years unless the sql_context suggests a different function.
8. DISTINCT:
   - Use DISTINCT only when explicitly required (e.g., counting distinct users or companies).
9. Window and analytic functions:
   - Use window functions for ranking/top-N and for running totals if required by the prompt.
10. Aliases and readability:
   - Use concise table aliases (e.g., FROM programs p JOIN categories c ON ...).
   - Use meaningful aliases for aggregate columns.
11. When prompt asks for "create a table" but sql_context already contains it, prefer CREATE TABLE IF NOT EXISTS with a schema consistent with sql_context (or ask whether to recreate/replace).
12. Return minimal columns: do not return extra columns beyond what the prompt asks for (and those needed for correctness).

Ambiguity, missing information, and clarifying questions
- If the prompt is ambiguous (e.g., "top 3 initiatives in Kenya, Tanzania and Uganda" — unclear if top 3 per country or top 3 combined), ask one clarifying question before producing SQL.
- If the prompt needs a column (e.g., "department") that does not exist in sql_context, ask a clarifying question.
- If the prompt asks to delete/update rows but doesn't specify which row(s) (e.g., "Delete a language" without an identifier), ask which identifier/value to use.
- Ask a clarifying question instead of guessing if date ranges, grouping scope, or country lists are underspecified.

Common pitfalls to avoid (explicit)
- Do not group by extra columns that will change aggregate results.
- Do not write WHERE conditions that are impossible (e.g., WHERE country = 'USA' AND country = 'Canada').
- Do not invent variable names or placeholders without context (e.g., WHERE id = language_id) — use literal values or ask for the value.
- When counting items by type, confirm whether SUM(quantity) or COUNT(*) is intended based on the prompt; use SUM(quantity) to total inventory amounts and COUNT(*) to count rows.
- For "all X and counts" include items with zero matches using LEFT JOIN.
- When the schema includes views, treat them like tables unless the prompt asks to modify them.

Response content requirements
- Reasoning: 1–3 short sentences mentioning the join/group/filter/aggregation strategy and any assumptions.
- SQL: a single SQL statement only (SELECT, INSERT, UPDATE, DELETE or CREATE TABLE if requested). The SQL should be syntactically consistent with the schema in sql_context and with the rules above.
- Name aggregated columns with clear aliases (e.g., AS total_sales, AS avg_quantity).
- If ordering is requested, include ORDER BY and, where applicable, LIMIT.

Useful patterns (you may reuse these patterns when applicable)
- Sum per group:
  SELECT category, SUM(budget) AS total_budget
  FROM programs
  GROUP BY category;
- Last N months:
  WHERE donation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 12 MONTH)
- Top N per group:
  SELECT *
  FROM (
    SELECT t.*, ROW_NUMBER() OVER (PARTITION BY country ORDER BY budget DESC) AS rn
    FROM programs t
  ) sub
  WHERE rn <= 3;
- Count distinct users on a date:
  SELECT COUNT(DISTINCT user_id) AS num_users
  FROM sessions
  WHERE login_date = '2021-01-01';

Be concise and precise. If you must ask a clarifying question, ask one clear question only.
2025/10/14 16:58:32 INFO dspy.evaluate.evaluate: Average Metric: 14.0 / 20 (70.0%)
2025/10/14 16:58:47 INFO dspy.evaluate.evaluate: Average Metric: 130.0 / 200 (65.0%)
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: New program is on the linear pareto front
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Full valset score for new program: 0.65
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Full train_val score for new program: 0.65
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Individual valset scores for new program: [1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: New valset pareto front scores: [1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Full valset pareto front score: 0.73
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Updated valset pareto front programs: [{2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {1}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 2}, {0, 1, 2}, {0, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1}, {0, 1, 2}, {0, 1, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0}, {0, 1, 2}, {0, 1, 2}, {0, 1}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0}, {0, 1, 2}, {0}, {0, 1, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {2}, {0}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1}, {1, 2}, {0, 1}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1}, {0, 1, 2}, {0, 1, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {1}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 2}, {0, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 2}, {0, 1, 2}, {1}, {0, 1, 2}, {2}, {0, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1}, {0, 1, 2}, {1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 1, 2}, {0, 2}, {0, 1, 2}]
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Best valset aggregate score so far: 0.65
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Best program as per aggregate score on train_val: 2
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Best program as per aggregate score on valset: 2
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Best score on valset: 0.65
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Best score on train_val: 0.65
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: Linear pareto front program index: 2
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 4: New program candidate index: 2
GEPA Optimization:  64%|██████▍   | 760/1180 [03:18<01:52,  3.75rollouts/s]2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 5: No merge candidates found
2025/10/14 16:58:47 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Selected program 1 score: 0.615

Average Metric: 12.00 / 20 (60.0%): 100%|██████████| 20/20 [00:14<00:00,  1.33it/s]

2025/10/14 16:59:02 INFO dspy.evaluate.evaluate: Average Metric: 12.0 / 20 (60.0%)

2025/10/14 16:59:28 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Proposed new text for predict: You are a SQL-writing assistant (a database expert). You will be given two inputs:
- sql_context: a block of CREATE TABLE (DDL) statements and optional INSERTs. Treat the schema (table names, column names and types) in sql_context as authoritative. Sample INSERTs illustrate values/types but are not exhaustive.
- sql_prompt: a natural-language request describing the data needed.

Your job: produce exactly two things, in this order:
1) A concise "reasoning" explanation (1–3 short sentences) describing the approach, joins/filters/aggregations used, and any important assumptions.
2) A single SQL statement only (in one code block). If the prompt explicitly requests creating a table, produce a CREATE TABLE statement (use IF NOT EXISTS if the schema may already define it). Otherwise produce a single SELECT (or other single DML/DDL) statement. Do not output anything else.

Output rules and style (strict):
- The reasoning must be 1–3 short sentences and mention the join/group/filter/aggregation/window strategy and any assumptions.
- The SQL must be executable against the schema in sql_context: use only table and column names from sql_context. Do not invent columns/tables. If a required column is missing or the prompt is ambiguous in a way that prevents writing a correct SQL, ask one clear clarifying question instead of guessing.
- Put the SQL only inside a single code block. No additional SQL or text outside the reasoning + that single code block.
- Minimize returned columns: select only the columns explicitly requested (and any extra non-aggregated columns strictly required for correctness).
- Use table aliases to keep SQL concise and readable.

SQL correctness rules and preferred functions:
- Prefer ANSI/portable SQL where possible. If the dialect is unclear, prefer EXTRACT and CURRENT_DATE.
- Date helpers:
  - Last N months: WHERE date_col >= DATE_SUB(CURRENT_DATE, INTERVAL N MONTH)
  - Last N years: WHERE date_col >= DATE_SUB(CURRENT_DATE, INTERVAL N YEAR)
  - Specific year/month: WHERE EXTRACT(YEAR FROM date_col) = 2021 AND EXTRACT(MONTH FROM date_col) = 3
  - Quarter: use QUARTER(date_col) and also ensure EXTRACT(YEAR FROM date_col) = year when scoping by year
- Alias all aggregates with clear names (e.g., AS total_budget, AS average_salary).
- GROUP BY must include only the non-aggregated columns returned by SELECT (avoid grouping by extra columns).
- Use explicit JOIN ... ON ... clauses. Use LEFT JOIN when the prompt asks to "list all X and counts" or when you must include items with zero matches; use INNER JOIN when only matching rows are required.
- For top-N per group use window functions:
  ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC) and then filter WHERE row_num <= N.
  For top-N overall use ORDER BY metric DESC LIMIT N.
- Use COUNT(*) to count rows; use COUNT(column) when counting non-null occurrences; use COUNT(DISTINCT col) when uniqueness is required.
- For percentages, compute numerator and denominator explicitly and multiply by 100; e.g.:
  (SUM(CASE WHEN condition THEN 1 ELSE 0 END) / COUNT(*) * 100) AS pct_name
- When comparing values across years or rows, prefer window functions or self-joins depending on clarity: use LEAD/LAG for sequential-year comparisons or self-join on (entity, year) pairs when comparing two specific years.
- Use UNION ALL (not UNION) when combining rows across tables for aggregation unless deduplication is explicitly required.

When to ask a clarifying question (do this instead of guessing):
- The sql_context is missing a column the prompt requires (e.g., prompt asks for "department" but no such column exists).
- Ambiguous instructions that materially change the SQL (examples: "top 3 initiatives in Kenya, Tanzania and Uganda" — clarify whether top 3 per country or top 3 across all three; or prompt lists several regions but doesn't say whether to include only those).
- Prompt asks to "create a table" but sql_context already defines that table and it's unclear whether to replace it.
- The prompt uses informal region names or group labels (e.g., "Midwest", "Asia") but the schema contains country-level values only — ask for the exact list of countries or mapping to use.

Common pitfalls to avoid (learned from examples):
- Do not group by extra columns that change aggregation semantics (avoid grouping by id and name if only name is requested, unless id is necessary).
- When counting per parent row but asked to list all parents, use LEFT JOIN to include parents with zero children.
- Do not treat identifier columns (IDs) as numeric metrics (e.g., AVG(WorkerID) is meaningless for counting workers).
- When the prompt asks for percentages per group, ensure the denominator is the correct group total (use COUNT(*) or SUM(...) grouped appropriately).
- If the prompt asks for a specific set of countries/regions, do not guess which countries belong to that region; ask or use the specific list provided in prompt.
- Prefer explicit date-range filters (using DATE_SUB or EXTRACT) rather than brittle YEAR(...) unless appropriate.
- When combining two different tables of the same metric, use UNION ALL before grouping to sum across them.

Additional conventions:
- Use readable aliases: e.g., FROM programs p JOIN categories c ON p.cat_id = c.id.
- When returning month/quarter/year grouping include the extracted column with a clear alias (e.g., EXTRACT(MONTH FROM date_col) AS month).
- Use HAVING only for conditions on aggregates.
- Use CREATE TABLE IF NOT EXISTS if prompt requests creation of a table that might already be defined; if schema already has the table and recreating would conflict, ask whether to replace.

If you cannot produce a correct SQL because of missing schema details or ambiguous requirements, do not produce SQL—ask one concise clarifying question.

Remember: Output must be exactly:
- one "reasoning" paragraph (1–3 short sentences), then
- one code block containing a single SQL statement only.
2025/10/14 16:59:39 INFO dspy.evaluate.evaluate: Average Metric: 14.0 / 20 (70.0%)
2025/10/14 16:59:54 INFO dspy.evaluate.evaluate: Average Metric: 127.0 / 200 (63.5%)
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Full valset score for new program: 0.635
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Full train_val score for new program: 0.635
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Individual valset scores for new program: [0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0]
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: New valset pareto front scores: [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Full valset pareto front score: 0.76
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Updated valset pareto front programs: [{2}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 3}, {0, 1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2, 3}, {0, 1, 2, 3}, {0, 2}, {0, 1, 2, 3}, {0, 2, 3}, {2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2, 3}, {0, 1, 2, 3}, {0}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2}, {0, 1, 2, 3}, {1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0}, {0, 1, 2, 3}, {0, 3}, {0, 1, 2, 3}, {2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {2}, {0, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1}, {1, 2, 3}, {0, 1}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 2, 3}, {0, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {2, 3}, {0, 1, 2, 3}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 2}, {0, 1, 2, 3}, {1, 3}, {0, 1, 2, 3}, {2, 3}, {0, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {1, 2}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1}, {0, 1, 2, 3}, {1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 1, 2, 3}, {0, 2, 3}, {0, 1, 2}]
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Best valset aggregate score so far: 0.65
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Best program as per aggregate score on train_val: 2
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Best program as per aggregate score on valset: 2
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Best score on valset: 0.65
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Best score on train_val: 0.65
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: Linear pareto front program index: 2
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 5: New program candidate index: 3
GEPA Optimization:  85%|████████▍ | 1000/1180 [04:24<00:48,  3.68rollouts/s]2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 6: No merge candidates found
2025/10/14 16:59:54 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Selected program 1 score: 0.615

Average Metric: 14.00 / 20 (70.0%): 100%|██████████| 20/20 [00:03<00:00,  5.09it/s]

2025/10/14 16:59:58 INFO dspy.evaluate.evaluate: Average Metric: 14.0 / 20 (70.0%)

2025/10/14 17:00:20 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Proposed new text for predict: You are a SQL-writing assistant (a database expert). You will be given two inputs:
- sql_context: a block of DDL (CREATE TABLE/VIEW/SCHEMA) and optional sample INSERTs that defines table and column names and types and gives example rows. Treat the schema in sql_context as authoritative.
- sql_prompt: a natural-language question or task describing the data the user wants.

Your job: produce exactly two parts in the response:
1) A concise reasoning explanation (1–3 short sentences) describing the approach (which tables are joined, what grouping/filters/aggregations or window functions you used) and any important assumptions.
2) A single SQL statement only (or a CREATE TABLE DDL if the prompt explicitly requests creating a table). The SQL must be enclosed in one code block and must be executable against the schema in sql_context (use the exact table and column names from sql_context).

Required output format and content rules
- Reasoning: 1–3 short sentences only. Mention join / group / filter / aggregation strategy and any assumptions (e.g., assuming country names match, or that date column exists). Do not include SQL in the reasoning.
- SQL: one and only one SQL statement inside a single code block. No extra text before or after the code block except the required reasoning paragraph. If the prompt requests creating a table, return a CREATE TABLE statement (use IF NOT EXISTS if the schema may already define it). Otherwise return a SELECT (or appropriate INSERT/UPDATE/DELETE) statement.
- Use the schema from sql_context exactly. Never invent table or column names. If a needed column or table is missing, do NOT guess — ask a clarifying question instead.

SQL style, correctness and best-practice rules (follow these strictly)
1. Prefer ANSI/portable SQL. Use CURRENT_DATE or CURDATE() for “today” and DATE_SUB(CURRENT_DATE, INTERVAL n MONTH) (or INTERVAL n YEAR) for relative date ranges. If sql_context uses CURDATE() or other dialect-specific functions, be consistent with that style; otherwise prefer EXTRACT(...) and CURRENT_DATE.
2. Date functions:
   - last N months: WHERE date_column >= DATE_SUB(CURRENT_DATE, INTERVAL N MONTH)
   - specific quarter/year: WHERE EXTRACT(YEAR FROM date_column) = 2021 AND QUARTER(date_column) = 1
   - use EXTRACT(YEAR FROM date_column), EXTRACT(MONTH FROM date_column) for year/month.
3. Aggregates must have readable aliases (AS total_..., AS average_..., etc.). Always alias aggregated columns.
4. GROUP BY must include only the non-aggregated columns required by the SELECT. Avoid grouping by extra columns that change aggregation semantics.
5. Use explicit JOIN ... ON ... clauses. Use LEFT JOIN when the prompt asks to "list all X and counts" or otherwise requires including items with zero matches; use INNER JOIN when only matching rows are required.
6. For top-N-per-group use window functions and standard pattern:
   ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC) and then filter WHERE row_num <= N.
   For top-N overall use ORDER BY ... DESC LIMIT N.
7. Use COUNT(DISTINCT ...) when the prompt requires counting unique items. Use DISTINCT only when necessary.
8. When counting or summing by categories include an alias and ORDER BY if the prompt requests ordering (e.g., "descending by total").
9. Return only columns asked for (and any additional columns strictly needed for correctness, e.g., grouping columns or ordering expressions). Minimize unnecessary columns.
10. Use table aliases to keep SQL concise and readable.
11. Prefer joins + grouping/window functions over correlated subqueries for clarity and performance unless a correlated subquery is clearly simpler.
12. If the prompt asks to create a table but the sql_context already defines a CREATE for the same table, either:
    - return CREATE TABLE IF NOT EXISTS with a schema consistent with sql_context, or
    - ask whether to recreate/replace the existing table.
13. For DML (INSERT/UPDATE/DELETE), ensure the referenced columns exist in the schema and the statement is consistent with types shown in sql_context.

When to ask clarifying questions (instead of guessing)
- The schema lacks columns/tables required by the prompt (e.g., prompt asks to filter by 'state' but no state column exists).
- Ambiguous requests where intent matters, e.g. "top 3 initiatives in Kenya, Tanzania and Uganda" — clarify whether this means top 3 per country or top 3 combined across those countries.
- Ambiguous date ranges (e.g., "last year" — clarify if calendar year or last 12 months).
- When the prompt lists several regions/countries but doesn't state whether to include ties or how to break ties for top-N.
- If the prompt asks to "create a table" but does not specify columns/types and none are in sql_context.

Common pitfalls to avoid (explicit)
- Do not group by extra columns that change aggregation results.
- Do not reference tables or columns not present in sql_context. If you need them, ask a question.
- Do not use WHERE column = 'A' AND column = 'B' to express membership in two values — use IN(...) or GROUP BY/HAVING for "both" membership logic.
- When asked to "list all X and counts", use LEFT JOIN so items with zero matches are included.
- For "has items in all categories/platforms", compare COUNT(DISTINCT ...) to a subquery that counts distinct categories/platforms in the schema.
- When joining to match names between tables, assume exact equality unless the prompt says otherwise.

Examples of common SQL patterns you should use (reference)
- Sum per group:
  SELECT category, SUM(budget) AS total_budget FROM programs WHERE budget > 5000 GROUP BY category;
- Last N months:
  WHERE donation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 12 MONTH)
- Top N per group:
  Use ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC) then filter row_num <= N
- Count unique in year:
  SELECT COUNT(DISTINCT student_id) AS unique_students_2021 FROM student_accommodations WHERE accommodation_year = 2021;

Behavior on ambiguous/insufficient information
- If you cannot produce a correct SQL due to missing schema details or ambiguous requirements, ask a single clear clarifying question. Do not produce a guessy SQL.
- Keep clarifying questions brief and specific (e.g., "The schema has no 'state' column. Should I use 'city' instead or do you want me to join to a separate city_population table?").

Tone and brevity
- Be concise. Reasoning must be very short (1–3 short sentences). SQL must be the single statement in the code block. No extra commentary, explanation, or multiple SQL statements.

Strict enforcement checklist before returning:
- Did you use only table/column names from sql_context?
- Did you provide a 1–3 sentence reasoning?
- Is there exactly one SQL statement in a single code block?
- Are all aggregates aliased? Are GROUP BY columns correct?
- Are JOINs explicit with ON clauses?
- Did you avoid inventing schema elements? If anything is missing/ambiguous, did you ask one clear clarifying question?

Follow these rules for every task. If unsure about dialect-specific functions, prefer EXTRACT(...) and CURRENT_DATE for portability.
2025/10/14 17:00:25 INFO dspy.evaluate.evaluate: Average Metric: 15.0 / 20 (75.0%)
2025/10/14 17:00:44 INFO dspy.evaluate.evaluate: Average Metric: 117.0 / 200 (58.5%)
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Full valset score for new program: 0.585
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Full train_val score for new program: 0.585
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Individual valset scores for new program: [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0]
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: New valset pareto front scores: [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Full valset pareto front score: 0.775
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Updated valset pareto front programs: [{2}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 3, 4}, {0, 1, 2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0, 2, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 2, 4}, {0, 1, 2, 3, 4}, {0, 2, 3}, {2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {4}, {1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 2, 4}, {0, 1, 2, 3}, {1, 2, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {4}, {1}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0, 4}, {0, 1, 2, 3, 4}, {0, 3, 4}, {0, 1, 2, 3, 4}, {2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {2}, {0, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 4}, {1, 2, 3, 4}, {0, 1}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 2, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 3, 4}, {0, 1, 2, 3, 4}, {4}, {2, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 2, 3, 4}, {0, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {2, 3, 4}, {0, 1, 2, 3, 4}, {3}, {0, 1, 2, 3}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3}, {0, 1, 2, 3, 4}, {0, 2}, {0, 1, 2, 3, 4}, {1, 3}, {0, 1, 2, 3}, {2, 3}, {0, 2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {1, 2}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1}, {0, 1, 2, 3, 4}, {1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 1, 2, 3, 4}, {0, 2, 3, 4}, {0, 1, 2}]
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Best valset aggregate score so far: 0.65
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Best program as per aggregate score on train_val: 2
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Best program as per aggregate score on valset: 2
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Best score on valset: 0.65
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Best score on train_val: 0.65
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: Linear pareto front program index: 2
2025/10/14 17:00:44 INFO dspy.teleprompt.gepa.gepa: Iteration 6: New program candidate index: 4
GEPA Optimization:  85%|████████▍ | 1000/1180 [05:14<00:56,  3.18rollouts/s]

# Review original and optimized prompts

In [14]:
print(program.predict.signature.instructions)

You are a database expert. You are provided with context for how some table(s) were constructed, and a natural language prompt for what the user wants. Your job is to write a SQL query to provide them with the required data.

In [15]:
print(optimized_program.predict.signature.instructions)

You are a SQL-writing assistant (a database expert). You will be given two inputs:
- sql_context: a block of DDL and optional sample INSERTs that defines the schema (table names, column names and types) and gives example rows. Treat this schema as authoritative.
- sql_prompt: a natural-language question or task describing the data the user wants.

Your job: produce exactly two things in the specified order:
  1) A concise reasoning explanation (1–3 short sentences) describing the approach, key joins/filters/aggregations, and any important assumptions.
  2) A single SQL statement (or DDL statement if the prompt explicitly requests creating a table). The SQL must be executable against the schema in sql_context and must use the table/column names from sql_context.

Format rules (must follow exactly)
- Output the reasoning (1–3 short sentences) first (plain text).
- Then output exactly one SQL statement inside a single code block. No additional SQL statements, no extra text inside the code block.
- If the prompt requests creating a table and the same table already appears in sql_context, prefer CREATE TABLE IF NOT EXISTS and match column names/types to the context where possible.
- If you cannot produce a correct SQL because required columns/tables are missing or the prompt is ambiguous, ask one clear clarifying question instead of guessing.

SQL style and best-practice rules
1. Use only table and column names from sql_context. Do not invent columns or tables. If a required column is missing, ask a clarifying question.
2. Prefer ANSI/portable SQL. Use functions consistent with sql_context examples. If dialect is unclear, prefer:
   - DATE arithmetic: DATE_SUB(CURRENT_DATE, INTERVAL n MONTH) (or DATE_SUB(CURDATE(), INTERVAL n MONTH) if examples use CURDATE()).
   - YEAR/MONTH: EXTRACT(YEAR FROM date), EXTRACT(MONTH FROM date)
   - Quarter: QUARTER(date) and pair with EXTRACT(YEAR FROM date) for year-scoped quarters
   - Current date: CURRENT_DATE or CURDATE() (follow sql_context usage when present)
3. Aggregates:
   - Always alias aggregated columns (e.g., AS total_streams, AS avg_budget).
   - Return only the columns requested (and any extra non-aggregated columns strictly required for grouping).
4. GROUP BY:
   - GROUP BY only the non-aggregated columns present in the SELECT.
   - Avoid grouping by extra columns that change aggregation semantics.
5. JOINs:
   - Use explicit JOIN ... ON ... syntax.
   - Use LEFT JOIN when the prompt says "list all X and counts" (so items with zero matches are included). Use INNER JOIN when only matching rows are required.
6. Top-N patterns:
   - Top N per group: use ROW_NUMBER() OVER (PARTITION BY group_col ORDER BY metric DESC) and then filter row_num <= N.
   - Top N overall: use ORDER BY metric DESC LIMIT N.
7. Date filtering:
   - "Last N months": WHERE date_column >= DATE_SUB(CURRENT_DATE, INTERVAL N MONTH)
   - Specific quarter/year: WHERE EXTRACT(YEAR FROM date_col) = 2021 AND QUARTER(date_col) = 1
   - Use EXTRACT for months/years unless the sql_context suggests a different function.
8. DISTINCT:
   - Use DISTINCT only when explicitly required (e.g., counting distinct users or companies).
9. Window and analytic functions:
   - Use window functions for ranking/top-N and for running totals if required by the prompt.
10. Aliases and readability:
   - Use concise table aliases (e.g., FROM programs p JOIN categories c ON ...).
   - Use meaningful aliases for aggregate columns.
11. When prompt asks for "create a table" but sql_context already contains it, prefer CREATE TABLE IF NOT EXISTS with a schema consistent with sql_context (or ask whether to recreate/replace).
12. Return minimal columns: do not return extra columns beyond what the prompt asks for (and those needed for correctness).

Ambiguity, missing information, and clarifying questions
- If the prompt is ambiguous (e.g., "top 3 initiatives in Kenya, Tanzania and Uganda" — unclear if top 3 per country or top 3 combined), ask one clarifying question before producing SQL.
- If the prompt needs a column (e.g., "department") that does not exist in sql_context, ask a clarifying question.
- If the prompt asks to delete/update rows but doesn't specify which row(s) (e.g., "Delete a language" without an identifier), ask which identifier/value to use.
- Ask a clarifying question instead of guessing if date ranges, grouping scope, or country lists are underspecified.

Common pitfalls to avoid (explicit)
- Do not group by extra columns that will change aggregate results.
- Do not write WHERE conditions that are impossible (e.g., WHERE country = 'USA' AND country = 'Canada').
- Do not invent variable names or placeholders without context (e.g., WHERE id = language_id) — use literal values or ask for the value.
- When counting items by type, confirm whether SUM(quantity) or COUNT(*) is intended based on the prompt; use SUM(quantity) to total inventory amounts and COUNT(*) to count rows.
- For "all X and counts" include items with zero matches using LEFT JOIN.
- When the schema includes views, treat them like tables unless the prompt asks to modify them.

Response content requirements
- Reasoning: 1–3 short sentences mentioning the join/group/filter/aggregation strategy and any assumptions.
- SQL: a single SQL statement only (SELECT, INSERT, UPDATE, DELETE or CREATE TABLE if requested). The SQL should be syntactically consistent with the schema in sql_context and with the rules above.
- Name aggregated columns with clear aliases (e.g., AS total_sales, AS avg_quantity).
- If ordering is requested, include ORDER BY and, where applicable, LIMIT.

Useful patterns (you may reuse these patterns when applicable)
- Sum per group:
  SELECT category, SUM(budget) AS total_budget
  FROM programs
  GROUP BY category;
- Last N months:
  WHERE donation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 12 MONTH)
- Top N per group:
  SELECT *
  FROM (
    SELECT t.*, ROW_NUMBER() OVER (PARTITION BY country ORDER BY budget DESC) AS rn
    FROM programs t
  ) sub
  WHERE rn <= 3;
- Count distinct users on a date:
  SELECT COUNT(DISTINCT user_id) AS num_users
  FROM sessions
  WHERE login_date = '2021-01-01';

Be concise and precise. If you must ask a clarifying question, ask one clear question only.

# Store Programs

In [17]:
program.save("./dspy_program/3.5_program.json", save_program=False)
optimized_program.save("./optimized_program/3.5_program.json", save_program=False)

# Evals

In [18]:
from concurrent.futures import ThreadPoolExecutor, as_completed
from datasets import Dataset
from time import perf_counter
from typing import Dict, Any, Optional

def evaluate_program(
    program,
    ds_test: Dataset,
    limit: int = 100,
    max_workers: int = 8,
    field_map: Optional[Dict[str, str]] = None,
) -> Dict[str, Any]:
    """
    Evaluate a DSPy program on the first `limit` rows of a HF Dataset split.

    Args:
        program: a DSPy Module with signature program(sql_prompt=..., sql_context=...)
        ds_test: Hugging Face Dataset (e.g., ds["test"])
        limit: number of rows to evaluate (default 100)
        max_workers: parallel threads for I/O-bound LM + judge
        field_map: optional mapping if your column names differ:
                   {"sql_prompt": "...", "sql_context": "...", "sql": "..."}

    Returns:
        {
          "accuracy": float,
          "correct": int,
          "total": int,
          "avg_latency_s": float,
          "failures": [ {idx, reason, pred_sql, feedback} ... up to 20 ],
        }
    """
    if field_map is None:
        field_map = {"sql_prompt": "sql_prompt", "sql_context": "sql_context", "sql": "sql"}

    n = min(limit, len(ds_test))
    subset = ds_test.select(range(n))
    start = perf_counter()

    def _eval_one(i_row):
        i, row = i_row
        try:
            pred = program(
                sql_prompt=row[field_map["sql_prompt"]],
                sql_context=row[field_map["sql_context"]],
            )
            pred_sql = getattr(pred, "sql", None) or (pred.get("sql") if isinstance(pred, dict) else None) or ""
            jr = judge(
                sql_context=row[field_map["sql_context"]],
                sql_prompt=row[field_map["sql_prompt"]],
                golden_sql=row[field_map["sql"]],
                candidate_sql=pred_sql,
            )
            ok = bool(getattr(jr, "similar", False))
            feedback = getattr(jr, "reasoning", "") or ""
            return (i, ok, pred_sql, feedback, None)
        except Exception as e:
            return (i, False, "", "", f"{type(e).__name__}: {e}")

    results = []
    # Threaded evaluation (I/O bound: LM + judge). Tune max_workers to your provider limits.
    with ThreadPoolExecutor(max_workers=max_workers) as ex:
        futures = [ex.submit(_eval_one, (i, subset[i])) for i in range(n)]
        for f in as_completed(futures):
            results.append(f.result())

    # Sort back to input order
    results.sort(key=lambda x: x[0])

    correct = sum(1 for _, ok, *_ in results if ok)
    total = n
    acc = correct / total if total else 0.0
    elapsed = perf_counter() - start
    avg_lat = elapsed / total if total else 0.0

    failures = []
    for i, ok, pred_sql, feedback, err in results:
        if not ok and len(failures) < 20:
            failures.append({
                "idx": i,
                "reason": ("error: " + err) if err else "mismatch",
                "pred_sql": pred_sql,
                "feedback": feedback,
            })

    return {
        "accuracy": acc,
        "correct": correct,
        "total": total,
        "avg_latency_s": avg_lat,
        "failures": failures,
    }
    
test_split = ds["test"]
test_split = test_split.shuffle()

In [19]:
og_metrics = evaluate_program(program, test_split, limit=500, max_workers=32)
print(f"Original Program: {og_metrics}")

Original Program: {'accuracy': 0.62, 'correct': 310, 'total': 500, 'avg_latency_s': 1.2531627955820004, 'failures': [{'idx': 1, 'reason': 'mismatch', 'pred_sql': "SELECT SUM(m.revenue) AS total_revenue\nFROM movie m\nJOIN studio s ON m.studio_id = s.studio_id\nWHERE s.name = 'Blue Studios'", 'feedback': "The candidate SQL query joins the `movie` table with the `studio` table on the `studio_id` column and then filters the rows where the studio name is 'Blue Studios'. This approach indirectly filters the movies produced by Blue Studios, but it's not the most direct and efficient way to accomplish the task because it involves an unnecessary join operation. The golden SQL query directly filters the movies by the `studio_id` associated with Blue Studios, which is a more efficient approach."}, {'idx': 2, 'reason': 'mismatch', 'pred_sql': 'SELECT \n    SUM(rd.reclamation_cost) as total_reclamation_cost, \n    es.employee_count as total_employees\nFROM \n    reclamation_data rd\nJOIN \n    employee_stats es ON rd.mine_id = es.mine_id\nWHERE \n    es.mine_id IN (\n        SELECT mine_id \n        FROM mine_employees \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM employee_stats \n            WHERE employee_count > 300\n        )\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM mine_employees \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM production_data\n        )\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM production_data \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM operation_duration\n        )\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM operation_duration\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM reclamation_data\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM reclamation_data \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM operation_duration\n        )\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM reclamation_data \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM production_data\n        )\n    )\nGROUP BY \n    es.mine_id\nHAVING \n    es.mine_id IN (\n        SELECT mine_id \n        FROM reclamation_data \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM operation_duration\n        )\n    )\nAND \n    es.mine_id IN (\n        SELECT mine_id \n        FROM reclamation_data \n        WHERE mine_id IN (\n            SELECT mine_id \n            FROM production_data\n        )\n    );', 'feedback': 'The candidate SQL query is not functionally similar to the golden SQL query. The candidate query includes multiple subqueries and conditions which are not necessary to achieve the desired result. It also lacks the proper aggregation and grouping to calculate the total reclamation cost and number of employees for mines in the South America region with more than 300 employees.'}, {'idx': 5, 'reason': 'mismatch', 'pred_sql': 'SELECT YEAR(P.SaleDate) AS Year, SUM(C.ClaimAmount) AS TotalClaimAmount\nFROM Policies P\nJOIN Claims C ON P.PolicyID = C.PolicyID\nWHERE MONTH(P.SaleDate) BETWEEN 1 AND 3\nGROUP BY YEAR(P.SaleDate);', 'feedback': 'The golden SQL query calculates the total claim amount for policies sold in the first quarter of each year by using the `DATEPART` function to extract the quarter from the `SaleDate` and then summing the `ClaimAmount`. It performs a join on the `PolicyID` between the `Claims` and `Policies` tables. The candidate SQL query attempts to achieve a similar result by extracting the year from `SaleDate` and summing `ClaimAmount`, but it filters the data based on the month between 1 and 3, which may not cover only the first quarter for each year. Additionally, the grouping is done by year in the candidate query, instead of by quarter.'}, {'idx': 7, 'reason': 'mismatch', 'pred_sql': 'SELECT country_id, MAX(year_preserved) AS max_years_preserved\nFROM art_forms\nGROUP BY country_id;', 'feedback': 'The golden SQL query retrieves the maximum number of years a traditional art form has been preserved in each country by joining the `countries` and `art_forms` tables on the `id` and `country_id` columns respectively. It then uses the `MAX` function to find the highest value of `year_preserved` for each country group. On the other hand, the candidate SQL query only selects the `country_id` and calculates the maximum `year_preserved` without considering the country names or joining the tables.'}, {'idx': 12, 'reason': 'mismatch', 'pred_sql': "UPDATE recycling_initiatives\nSET initiative_type = 'Metal Recycling'\nWHERE year = 2022 AND city = 'Paris';", 'feedback': "The golden SQL query updates the initiative_type to 'Composting' for recycling initiatives in Paris in 2022, while the candidate SQL query updates the initiative_type to 'Metal Recycling' for the same matching criteria. The candidate query is not functionally similar to the golden query because they update the initiative_type to different values."}, {'idx': 20, 'reason': 'mismatch', 'pred_sql': 'SELECT Country, SUM(Operations) AS TotalOperations\nFROM PeacekeepingOperations\nGROUP BY Country\nORDER BY TotalOperations DESC;', 'feedback': 'The golden SQL query calculates the total number of peacekeeping operations conducted by each country with a running total, and then ranks the countries based on the total operations. It correctly uses the window function with partitioning by country and ordering by year. The candidate SQL query only calculates the total operations per country without considering the running total or ranking.'}, {'idx': 26, 'reason': 'mismatch', 'pred_sql': "INSERT INTO audience (visitor_id, name, country, visit_date) VALUES (DEFAULT, 'Alex', 'USA', CURRENT_DATE);", 'feedback': 'The candidate SQL query uses the `DEFAULT` keyword to automatically generate a value for the `visitor_id` field, whereas the golden SQL query calculates the `visitor_id` by selecting the maximum existing id and adding 1 to it. Additionally, the candidate SQL query uses `CURRENT_DATE` instead of `CURDATE()` for the `visit_date` field.'}, {'idx': 28, 'reason': 'mismatch', 'pred_sql': 'SELECT *\nFROM subscribers\nWHERE last_data_usage_date >= DATE_SUB(LAST_DAY(NOW()), INTERVAL 1 MONTH) + INTERVAL 1 DAY\nAND monthly_data_usage = 0.0;', 'feedback': 'The golden SQL query retrieves mobile subscribers who have not used any data in the last month by checking for monthly_data_usage equal to 0 and last_data_usage_date being within the last month. On the other hand, the candidate SQL query attempts to achieve the same result by checking if the last_data_usage_date is greater than or equal to the beginning of the last month and if the monthly_data_usage is 0.0. Both queries have different approaches to identifying subscribers who have not used any data in the last month.'}, {'idx': 31, 'reason': 'mismatch', 'pred_sql': 'SELECT SiteID, COUNT(DISTINCT ObjectType) AS UniqueArtifactTypes\nFROM Artifact\nGROUP BY SiteID;', 'feedback': 'The golden SQL query retrieves the count of unique artifact types for each excavation site by joining the ExcavationSite and Artifact tables on SiteID and then grouping the results by SiteName. On the other hand, the candidate SQL query only counts the unique artifact types for each site directly from the Artifact table without considering the ExcavationSite table. Therefore, the candidate query does not provide the desired output as it misses the join condition and the grouping by SiteName.'}, {'idx': 33, 'reason': 'mismatch', 'pred_sql': 'SELECT\n    Country,\n    LaunchDate AS CurrentLaunchDate,\n    LAG(LaunchDate) OVER (PARTITION BY Country ORDER BY LaunchDate) AS PreviousLaunchDate,\n    DATEDIFF(LaunchDate, LAG(LaunchDate) OVER (PARTITION BY Country ORDER BY LaunchDate)) AS DaysBetweenLaunches\nFROM\n    SatelliteLaunches\nORDER BY\n    Country, LaunchDate;', 'feedback': 'The candidate SQL query calculates the difference between the current launch date and the previous launch date using the LAG window function. The logic is slightly different from the golden SQL query, which uses the LEAD window function to find the next launch date. Additionally, the candidate SQL query does not properly calculate the number of days between launches. Therefore, the candidate query does not fulfill the requirements of the prompt.'}, {'idx': 35, 'reason': 'mismatch', 'pred_sql': "SELECT \n    CONCAT(MONTH(date), '-', YEAR(date)) AS month_year,\n    AVG(temperature - LAG(temperature, 1) OVER (PARTITION BY MONTH(date) ORDER BY date)) AS avg_temperature_change\nFROM \n    WeatherData\nWHERE \n    location = 'Arctic' AND YEAR(date) = 2020\nGROUP BY \n    MONTH(date), YEAR(date)\nORDER BY \n    YEAR(date), MONTH(date);", 'feedback': 'The golden SQL query calculates the average temperature in the Arctic region by month for the year 2020 using the `AVG()` function and `GROUP BY` clause, filtering the data based on the location and year. The candidate SQL query, on the other hand, calculates the average temperature change in the Arctic region by month for the year 2020 using the difference of temperatures in consecutive rows within the same month. This difference is calculated with the `AVG(temperature - LAG(temperature, 1) OVER (PARTITION BY MONTH(date) ORDER BY date))` expression.'}, {'idx': 37, 'reason': 'mismatch', 'pred_sql': 'SELECT year, COUNT(*) AS total_grants\nFROM research_grants\nGROUP BY year;', 'feedback': 'The golden SQL query calculates the sum of the amount for each year by grouping the results based on the year. On the other hand, the candidate SQL query counts the total number of grants per year by grouping the results based on the year. Both queries provide different aggregate calculations for research grants per year.'}, {'idx': 38, 'reason': 'mismatch', 'pred_sql': 'SELECT Site_Name, Number_of_Artifacts\nFROM Excavation_Sites;', 'feedback': 'The golden SQL query retrieves the `Site_ID` and `Site_Name` along with the total number of artifacts found at each excavation site by summing up the `Number_of_Artifacts` for each group. On the other hand, the candidate SQL query only selects the `Site_Name` and `Number_of_Artifacts` fields without performing any aggregation.'}, {'idx': 41, 'reason': 'mismatch', 'pred_sql': "SELECT AVG(mh.score) AS average_mental_health_score\nFROM teachers t\nJOIN mental_health mh ON t.id = mh.teacher_id\nWHERE t.gender = 'Male';", 'feedback': 'The candidate SQL query is not functionally similar to the golden SQL query. Although both queries aim to calculate the average mental health score for male teachers, they differ in the table names being used and the column selected for averaging. The golden SQL query correctly joins the `teachers` and `teacher_mental_health` tables and selects the `mental_health_score` column for averaging, while the candidate SQL query mistakenly uses `mental_health` table and selects the `score` column for averaging.'}, {'idx': 42, 'reason': 'mismatch', 'pred_sql': 'SELECT county_id\nFROM (\n    SELECT county_id, year, cost,\n           ROW_NUMBER() OVER (PARTITION BY county_id ORDER BY year) as row_num\n    FROM costs\n    WHERE year >= YEAR(CURRENT_DATE) - 3\n) ranked\nGROUP BY county_id\nHAVING COUNT(*) = 4\nAND MIN(cost) < MAX(cost)', 'feedback': 'The golden SQL query correctly identifies counties in New Mexico with increasing healthcare costs over the past 4 years by using window functions to track the order of costs over the years. It ensures that all 4 consecutive years have increasing costs for each county, and restricts the results to only those counties in New Mexico. On the other hand, the candidate SQL query attempts to identify counties with 4 consecutive years of data within the last 3 years, but it does not explicitly check for increasing costs over the years as required in the prompt. It only checks if the minimum cost is less than the maximum, which does not guarantee a continuous increase over the 4 years.'}, {'idx': 43, 'reason': 'mismatch', 'pred_sql': 'SELECT regions.region_id, regions.region_name, SUM(timber_harvest.volume) AS total_volume\nFROM regions\nJOIN timber_harvest ON regions.region_id = timber_harvest.region_id\nGROUP BY regions.region_id, regions.region_name;', 'feedback': 'The golden SQL query correctly joins the tables `regions` and `timber_harvest` on the `region_id` column and groups the result by `region_name`, providing the total volume of timber harvested by each region. The candidate SQL query also correctly joins the tables on `region_id` but groups by `region_id` and `region_name`, which might result in different grouping outcomes as compared to the golden query.'}, {'idx': 44, 'reason': 'mismatch', 'pred_sql': "INSERT INTO DefenseProjectTimelines (id, project_name, negotiation_start_date, negotiation_end_date, country)\nVALUES (1, 'Type 16 MCV', '2022-04-01', '2024-04-01', 'Thailand');", 'feedback': "The candidate SQL query is adding a specific value for the 'id' column, which is defined as the primary key and auto-incremented in the table schema. The golden SQL query does not include the 'id' column in the column list as it is automatically generated."}, {'idx': 45, 'reason': 'mismatch', 'pred_sql': "SELECT AVG(CASE WHEN category = 'Malware' THEN severity END) AS average_severity\nFROM vulnerabilities;", 'feedback': "The golden SQL query calculates the average severity for each level ('Critical', 'High', 'Medium', 'Low') within the 'Malware' category by assigning weights to each severity level. The candidate SQL query, on the other hand, calculates the average severity without taking into account the different severity levels. It only considers the severity when the category is 'Malware'."}, {'idx': 47, 'reason': 'mismatch', 'pred_sql': "SELECT cause\nFROM donor_location\nWHERE country = 'United States' OR country = 'Canada'\nGROUP BY cause\nHAVING COUNT(DISTINCT country) = 2;", 'feedback': 'The golden SQL query retrieves the causes that received funding from donors in both the United States and Canada by using the INTERSECT operator to find the common causes between the two countries. On the other hand, the candidate SQL query retrieves the causes that received funding from donors in either the United States or Canada and then filters the results to only include causes where the distinct count of countries is equal to 2. This approach does not guarantee that the causes received funding from both countries.'}, {'idx': 51, 'reason': 'mismatch', 'pred_sql': "SELECT project_name\nFROM accessibility.research\nWHERE (project_name LIKE '%AI%' OR project_name LIKE '%Accessibility%')\nAND (region = 'EU' OR region = 'Africa');", 'feedback': "The candidate SQL query retrieves project names that contain either 'AI' or 'Accessibility' and are in either 'EU' or 'Africa'. This query does not specifically find the intersection of AI and accessibility research projects in the EU and Africa as requested."}]}

In [20]:
opt_metrics = evaluate_program(optimized_program, test_split, limit=500, max_workers=32)
print(f"Original Program: {opt_metrics}")

Original Program: {'accuracy': 0.62, 'correct': 310, 'total': 500, 'avg_latency_s': 0.1289489997500059, 'failures': [{'idx': 2, 'reason': 'mismatch', 'pred_sql': 'SELECT rd.mine_id, SUM(rd.reclamation_cost) AS total_reclamation_cost, es.employee_count AS total_employees\nFROM reclamation_data rd\nJOIN employee_stats es ON rd.mine_id = es.mine_id\nWHERE es.employee_count > 300\nGROUP BY rd.mine_id;', 'feedback': 'The candidate SQL query is filtering mines with more than 300 employees from the `employee_stats` view and calculating the total reclamation cost for those mines from the `reclamation_data` table. However, the candidate SQL query does not include the condition for mines with more than 5 years of operation as the golden SQL query does.'}, {'idx': 5, 'reason': 'mismatch', 'pred_sql': 'SELECT EXTRACT(YEAR FROM p.SaleDate) AS SaleYear, SUM(c.ClaimAmount) AS TotalClaimAmount\nFROM Policies p\nJOIN Claims c ON p.PolicyID = c.PolicyID\nWHERE EXTRACT(MONTH FROM p.SaleDate) BETWEEN 1 AND 3\nGROUP BY EXTRACT(YEAR FROM p.SaleDate);', 'feedback': 'The golden SQL query calculates the total claim amount for policies sold in the first quarter of each year by using the `PARTITION BY` and `DATEPART` functions to group the data by quarters and filter for the first quarter. On the other hand, the candidate SQL query calculates the total claim amount for policies sold between January and March of each year by extracting the year and month from the sale date and filtering for months 1 to 3. Both queries join the `Claims` and `Policies` tables on the `PolicyID` and perform the necessary aggregation. The key difference lies in how the quarters are handled in the filtering condition.'}, {'idx': 7, 'reason': 'mismatch', 'pred_sql': 'SELECT c.name AS country, MAX(af.year_preserved) AS max_years_preserved\nFROM countries c\nLEFT JOIN art_forms af ON c.id = af.country_id\nGROUP BY c.name;', 'feedback': "The golden SQL query selects the country name and the maximum number of years a traditional art form has been preserved for each country by joining the 'countries' and 'art_forms' tables on the country_id. It then groups the results by the country's id. \nThe candidate SQL query also aims to find the maximum number of years a traditional art form has been preserved in each country by joining the 'countries' and 'art_forms' tables on the country_id. However, it aliases the selected columns differently ('c.name' and 'af.year_preserved'), groups by 'c.name' instead of 'c.id', and uses a LEFT JOIN instead of an INNER JOIN."}, {'idx': 12, 'reason': 'mismatch', 'pred_sql': "UPDATE recycling_initiatives\nSET initiative_type = 'Metal Recycling'\nWHERE year = 2022 AND city = 'Paris';", 'feedback': "The golden SQL query updates the initiative_type to 'Composting' for recycling initiatives in Paris in 2022, while the candidate SQL query updates the initiative_type to 'Metal Recycling' for the same matching criteria. The candidate query is not functionally similar to the golden query because they update the initiative_type to different values."}, {'idx': 19, 'reason': 'mismatch', 'pred_sql': 'SELECT m.name, COUNT(t.officer_id) AS num_trainings\nFROM mental_health_parity_officers m\nLEFT JOIN trainings_conducted t ON m.officer_id = t.officer_id\nGROUP BY m.name;', 'feedback': 'The candidate SQL query joins the tables using a LEFT JOIN instead of an INNER JOIN like in the golden SQL query. This means that the candidate query will include all records from the "mental_health_parity_officers" table, even if there are no matching records in the "trainings_conducted" table. The candidate query also aliases the tables differently than the golden SQL query.'}, {'idx': 20, 'reason': 'mismatch', 'pred_sql': 'SELECT Country, SUM(Operations) AS Total_Operations\nFROM PeacekeepingOperations\nGROUP BY Country\nORDER BY Total_Operations DESC;', 'feedback': 'The candidate SQL query simply calculates the sum of operations for each country without considering the ranking from highest to lowest. It also does not utilize window functions like the golden SQL query to achieve the desired ranking based on total operations.'}, {'idx': 21, 'reason': 'mismatch', 'pred_sql': 'SELECT h.country, SUM(h.events) AS total_events\nFROM Humanitarian_Assistance h\nWHERE h.year >= YEAR(CURRENT_DATE) - 2\nGROUP BY h.country;', 'feedback': 'The golden SQL query calculates the total number of humanitarian assistance events by each country in the last 3 years by joining the Humanitarian_Assistance and Countries tables and filtering the data based on the year. It correctly groups the results by country name. \nThe candidate SQL query also calculates the total number of events by each country; however, it filters the data based on the last 2 years instead of the last 3 years. This difference in the filter condition makes the candidate query functionally different from the golden query.'}, {'idx': 26, 'reason': 'mismatch', 'pred_sql': "INSERT INTO audience (visitor_id, name, country, visit_date) \nVALUES (DEFAULT, 'Alex', 'USA', CURRENT_DATE);", 'feedback': 'The candidate SQL query and the golden SQL query both aim to insert a new record into the "audience" table for a visitor named "Alex" from the USA. However, there are differences in how the new visitor_id value is generated and the date value is obtained.'}, {'idx': 28, 'reason': 'mismatch', 'pred_sql': "SELECT *\nFROM subscribers\nWHERE last_data_usage_date < DATE_SUB(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01'), INTERVAL 1 MONTH);", 'feedback': "The golden SQL query retrieves the `id`, `last_data_usage_date`, and `monthly_data_usage` columns from the `subscribers` table where the `monthly_data_usage` is 0 and the `last_data_usage_date` is within the last month. It accurately filters subscribers who have not used any data in the last month by comparing the `monthly_data_usage` and the date of last data usage.\n\nThe candidate SQL query also aims to find subscribers who have not used any data in the last month. However, it uses a different approach by comparing the `last_data_usage_date` with the first day of the previous month to identify those subscribers. This approach may not be as accurate as the golden query in determining the last month's data usage status for each subscriber."}, {'idx': 31, 'reason': 'mismatch', 'pred_sql': 'SELECT SiteID, COUNT(DISTINCT ObjectType) AS num_unique_artifact_types\nFROM Artifact\nGROUP BY SiteID;', 'feedback': 'The golden SQL query joins the ExcavationSite and Artifact tables on the SiteID, groups the results by SiteName, and counts the distinct ObjectTypes to find the unique artifact types at each excavation site. On the other hand, the candidate SQL query only counts the distinct ObjectTypes grouped by SiteID from the Artifact table without joining the ExcavationSite table.'}, {'idx': 33, 'reason': 'mismatch', 'pred_sql': 'SELECT \n    LaunchID,\n    Country,\n    LaunchDate,\n    LaunchDate - LAG(LaunchDate, 1) OVER(PARTITION BY Country ORDER BY LaunchDate) AS DaysSincePreviousLaunch\nFROM \n    SatelliteLaunches\nORDER BY \n    Country, LaunchDate;', 'feedback': 'The golden SQL query calculates the difference in launch dates for each pair of consecutive satellite launches by country using the LEAD function to get the next launch date. It then calculates the number of days between the launches using the DATEDIFF function. On the other hand, the candidate SQL query attempts to calculate the days since the previous launch using the LAG function, which is not the same as determining the difference between consecutive launches.'}, {'idx': 35, 'reason': 'mismatch', 'pred_sql': "SELECT EXTRACT(MONTH FROM date) AS month,\n       AVG(temperature - LAG(temperature) OVER(PARTITION BY location ORDER BY date)) AS avg_temp_change\nFROM WeatherData\nWHERE location = 'Arctic'\nAND EXTRACT(YEAR FROM date) = 2020\nGROUP BY EXTRACT(MONTH FROM date);", 'feedback': "The golden SQL query calculates the average temperature in the Arctic region by month for the year 2020 by directly averaging the temperatures with the location and year filters applied. On the other hand, the candidate SQL query attempts to calculate the average temperature change in the Arctic region by month for the year 2020 by subtracting the previous temperature from the current one and then finding the average. The candidate SQL query is not directly calculating the average temperature and temperature change without considering the previous temperature value which doesn't align with the user's original request."}, {'idx': 37, 'reason': 'mismatch', 'pred_sql': 'SELECT year, COUNT(*) AS total_grants\nFROM research_grants\nGROUP BY year;', 'feedback': 'The golden SQL query calculates the sum of the amount for each year by grouping the results based on the year. On the other hand, the candidate SQL query counts the total number of grants per year by grouping the results based on the year. Both queries provide different aggregate calculations for research grants per year.'}, {'idx': 38, 'reason': 'mismatch', 'pred_sql': 'SELECT Site_Name, SUM(Number_of_Artifacts) AS Total_Artifacts\nFROM Excavation_Sites\nGROUP BY Site_Name;', 'feedback': 'The golden SQL query is selecting the `Site_ID`, `Site_Name`, and the sum of `Number_of_Artifacts` grouped by `Site_ID` and `Site_Name`, which provides the number of artifacts found in each excavation site. The candidate SQL query is selecting the `Site_Name` and the sum of `Number_of_Artifacts` grouped by `Site_Name`. The main difference is that the golden SQL query includes the `Site_ID` in the selection and grouping, providing a more detailed breakdown of artifacts per site compared to the candidate SQL query.'}, {'idx': 41, 'reason': 'mismatch', 'pred_sql': "SELECT gender, AVG(mental_health_score) AS avg_mental_health_score\nFROM teachers\nWHERE gender = 'Male'\nGROUP BY gender;", 'feedback': 'The candidate SQL query calculates the average mental health score only for male teachers by filtering the records based on the gender column. It then groups the results by the gender column, which does not serve any practical purpose in this case. On the other hand, the golden SQL query correctly calculates the average mental health score for male teachers by joining the teachers table with the teacher_mental_health table on teacher id and filtering only the male teachers before calculating the average.'}, {'idx': 42, 'reason': 'mismatch', 'pred_sql': 'SELECT DISTINCT c1.county_id\nFROM costs c1\nJOIN costs c2 ON c1.county_id = c2.county_id AND c1.year = c2.year + 4\nWHERE c1.year = (SELECT MAX(year) FROM costs WHERE county_id = c1.county_id)\nAND c1.cost > c2.cost;', 'feedback': "The golden SQL query uses a window function to calculate the change in costs over 4 years for each county in New Mexico, ensuring that there are exactly 4 consecutive years with increasing costs. It also filters the results based on the state being 'New Mexico'. On the other hand, the candidate SQL query joins the costs table on itself to compare costs between the current year and the year 4 years prior for each county, without considering consecutive years or filtering by state. Therefore, the candidate query does not accurately identify counties with increasing healthcare costs in New Mexico over the past 4 years."}, {'idx': 43, 'reason': 'mismatch', 'pred_sql': 'SELECT r.region_id, r.region_name, SUM(th.volume) AS total_volume\nFROM regions r\nJOIN timber_harvest th ON r.region_id = th.region_id\nGROUP BY r.region_id, r.region_name;', 'feedback': 'The candidate SQL query selects the region_id along with the region_name, and calculates the total volume of timber harvested by each region. The JOIN condition between the two tables is based on region_id. However, in the golden SQL query, the region_name is selected instead of the region_id, and the GROUP BY clause is based on region_name.'}, {'idx': 45, 'reason': 'mismatch', 'pred_sql': "SELECT AVG(severity) AS average_severity\nFROM vulnerabilities\nWHERE category = 'Malware';", 'feedback': "The golden SQL query calculates the weighted average of severity levels in the 'Malware' category based on specific severity levels, while the candidate SQL query calculates the simple average of severity levels in the 'Malware' category."}, {'idx': 47, 'reason': 'mismatch', 'pred_sql': "SELECT d1.cause\nFROM donor_location d1\nJOIN donor_location d2 ON d1.cause = d2.cause\nWHERE d1.country = 'United States' AND d2.country = 'Canada';", 'feedback': 'The golden SQL query uses the INTERSECT operator to find the causes that received funding from donors in both the United States and Canada. It correctly retrieves the causes based on the country criteria separately and then intersects the results. On the other hand, the candidate SQL query attempts to achieve the same result through a self-join on the table based on the cause, which may not yield the correct intersection of causes.'}, {'idx': 48, 'reason': 'mismatch', 'pred_sql': "SELECT region, SUM(quantity) AS total_offshore_drilling_platforms\nFROM InfrastructureData\nWHERE platform_type = 'offshore_drilling'\nAND region IN ('North Sea', 'Gulf of Mexico')\nGROUP BY region;", 'feedback': "The golden SQL query calculates the total number of offshore drilling platforms in the North Sea and Gulf of Mexico by summing the quantities where the region is 'North Sea' and platform_type is 'offshore_drilling', or where the region is 'Gulf of Mexico' and platform_type is 'offshore_drilling'. \nThe candidate SQL query calculates the total offshore drilling platforms for regions 'North Sea' and 'Gulf of Mexico' without specifying the platform type in the WHERE clause. It also groups the results by region."}]}

# Store Eval Results

In [ ]:
import json

def save_metrics(metrics, path):
    with open(path, "w") as f:
        json.dump(metrics, f, indent=4, sort_keys=True) 

save_metrics(og_metrics, "./dspy_program/3.5-turbo.json")
save_metrics(opt_metrics,"./optimized_program/3.5-turbo.json")